* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.container {
    width: 1000px;
    margin: 0 auto;
}

.clear {
    clear: both;
}

.conteudo_lateral {
    float: left;
    width: 240px;
    height: 1000px;
    background-color: rgb(18, 18, 66);
    box-shadow: 4px 0px 5px;
    padding-top: 0px;
    position: fixed;
    margin-right: 10px;
}

.logo {
    width: 200px;
    height: 200px;
    border-radius: 55%;
    border: 5px solid black;
    margin-left: 18px;
    margin-bottom: 15px;
    margin-top: 15px;
    background-color: black;
}

.logo img {
    border-radius: 45%;
    width: 190px;
    height: 190px;
}

.logo img:hover {
    opacity: 0.9;
}

.titulo {
    width: 200px;
    margin-left: 18px;
    margin-bottom: 15px;
    margin-top: 15px;
}

.titulo h3 {
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 30px;
    text-align: center;
    font-style: oblique;
}

.lista_links {
    width: 200px;
    margin-left: 27px;
    margin-bottom: 15px;
    margin-top: 20px;
}

.lista_links li {
    list-style-type: none;
    margin-bottom: 7px;
}

.lista_links li:hover {
    background-color: rgba(255, 255, 255, 0.356);
}

.lista_links a {
    text-decoration-line: none;
    font-family: Big Shoulders Text;
    font-size: 20px;
    color: white;
    margin-left: 4px;
}

.lista_links a:hover {
    color: black;
}

.lista_links i {
    font-size: 35px;
    color: white;
    text-align: left;
}

.efeito:link {
    font-size: 30px;
}

.mainmenubtn {
    border: none;
    cursor: pointer;
    margin-top: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    color: white;
    overflow-y: scroll;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-child {
    display: none;
    background-color: black;
    max-height: 200px;
    min-width: 200px;
    overflow-y: scroll;
}

.dropdown-child a {
    padding: 8px;
    text-decoration: none;
    display: block;
    font-size: 16px;
}

.dropdown-child a:hover {
    color: rgba(255, 255, 255, 0.281);
}

.dropdown:hover .dropdown-child {
    display: block;
}

.conteudo_pag {
    background-color: rgb(255, 255, 255);
    margin-left: 200px;
}

.titulop {
    width: 1000px;
    height: 100px;
    margin-bottom: 0px;
}

.titulop h1 {
    font-size: 65px;
    padding-bottom: 30px;
}

.barra hr {
    margin-bottom: 40px;
    border-radius: 10px 10px 10px;
    height: 20px;
    background-color: blue;
    width: 600px;
}

.frase {
    width: 450px;
    float: left;
    height: 20px;
}

.frase h3 {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 40px;
    padding-bottom: 45px;
    font-style: oblique;
    width: 470px;
    height: 20px;
}

.Foto_Prin img {
    width: 1000px;
    margin-top: 40px;
}

.titulo2 h1 {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 40px;
    padding-bottom: 5px;
    padding-top: 60px;
}

.titulo2 {
    width: 500px;
    height: 50px;
}

.barra2 hr {
    margin-bottom: 40px;
    border-radius: 10px 10px 10px;
    height: 15px;
    background-color: blue;
    width: 200px;
}

.conteudop {
    margin-top: 100px;
}

.conteudop p {
    font-size: 23px;
}

.titulo3 {
    width: 500px;
    height: 50px;
    margin-top: 20px;
    margin-bottom: 10px;
}

.titulo3 h1 {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 40px;
    padding-top: 20px;
}

.barra3 hr {
    border-radius: 10px 10px 10px;
    height: 15px;
    background-color: blue;
    width: 170px;
}

.conteudop1 {
    margin-top: 60px;
    height: 200px;
}

.conteudop1 p {
    font-size: 23px;
}

.icons {
    width: 200px;
    height: 40px;
    float: right;
}

.icons i {
    font-size: 30px;
    margin: 4.5px;
    padding: 2px;
}

.icon1 {
    width: 45px;
    height: 45px;
    float: left;
    border-radius: 50%;
    margin: 4px;
    background-color: rgba(0, 0, 0, 0.116);
}

.icon1:hover {
    opacity: 0.5;
}

.caixa_foto {
    width: 300px;
    height: 500px;
    float: left;
    margin-right: 20px;
    border: 3px solid black;
    margin-top: 50px;
}

#fotos .caixa_foto:nth-child(2) {
    margin-right: 20px;
}

.caixa_foto img:hover {
    opacity: 0.9;
}

.caixa1 {
    width: 286px;
    height: 236px;
    margin-right: 10px;
    margin-top: 4px;
    margin-left: 4px;
    border: 2px solid black;
}

.caixa1 img {
    width: 282px;
    height: 232px;
}

.nomep h3 {
    text-align: center;
    font-style: oblique;
    font-size: 25px;
    margin-top: 10px;
}

.conteup {
    width: 286px;
    height: 180px;
    margin-right: 10px;
    margin-top: 2px;
}

.conteup p {
    font-size: 21px;
    text-align: center;
}